.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 250px;
    box-shadow: var(--boxShadowDefault);
    border-radius: var(--borderRadiusXs);
    padding: var(--spacing4x);

    &:hover {
        box-shadow: var(--boxShadowHover);
        cursor: pointer;
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
}

.image {
    margin-bottom: var(--spacing4x);
}

.description {
    color: var(--grayPrimary);
    font-size: 12px;
}

.favouriteButton {
    position: absolute;
    right: var(--spacing6x);
    top: var(--spacing6x);
}

.priceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
