:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --whitePrimary: #FFFFFF;
  --blackPrimary: #000000;
  --grayPrimary: #808080;
  --pinkPrimary: #FFC0CB;
  --cornflowerBlue: #6495ED;
  --aquamarine: #7fffd4;

  --spacing0x: 0px;
  --spacing1x: 2px;
  --spacing2x: 4px;
  --spacing3x: 6px;
  --spacing4x: 8px;
  --spacing6x: 12px;
  --spacing8x: 16px;
  --spacing10x: 20px;
  --spacing12x: 24px;
  --spacing16x: 32px;
  --spacing20x: 40px;

  --borderRadiusXxs: 4px;
  --borderRadiusXs: 8px;
  --borderRadiusS: 12px;
  --borderRadiusM: 16px;
  --borderRadiusL: 20px;
  --borderRadiusXl: 24px;
  --borderRadiusXxl: 32px;

  --boxShadowDefault: rgba(0, 0, 0, 0.16) 0 1px 4px;
  --boxShadowHover: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

body {
  margin: 0 auto;
  padding: var(--spacing10x);
  max-width: 360px;
  min-height: 100vh;
  border: 1px solid var(--blackPrimary);
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

h1, h2, h3 {
  margin: 0;
}
